@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,300&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  line-height: 1.4;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 4rem 0;
}
.titulo__bold {
  font-weight: 700;
}
.contenedor {
  width: min(90%, 200rem);
  margin: 0 auto;
}

.card__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.card {
  width: 24rem;
  height: 35rem;
  border-radius: 8px;
  box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.2);

  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}
.card__imagen {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: url(https://storage.googleapis.com/bucket-larnu/media/business/123/images/1JFXCO18.png);
  background-size: cover;
  background-position: center center;
  height: 55%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.card__imagen img {
  width: 10rem;
}
.info {
  height: 45%;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  background-color: #f4f6ff;
}
.info a {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.8rem;
  display: block;
}
.card__titulo {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.card__info {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
